/*-- scss:defaults --*/
$link-color: #006eaa;         /* Changes default link color */
$link-color-hover: #008a20;   /* Changes color when hovering */
$link-decoration: "underline"; /* helps see links */ 
